<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Subject</title>
</head>
<body>
    <h1>Edit Subject</h1>
    <form method="POST">
        <label>Subject Name:-</label>
        <input type="text" name="subject_name" value="{{ subject.name }}" required>
        <label>Description:-</label>
        <input type="text" name="subject_desc" value="{{ subject.description }}" required>
        <button type="submit">Update Subject</button>
    </form>
    <a href="{{ url_for('manage_subjects') }}">Back to Subjects</a>
</body>
</html>